<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435358206627-fq6br7vhb1nvt4ojvvd6sfs70akm9oa5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435358206627-fq6br7vhb1nvt4ojvvd6sfs70akm9oa5</string>
	<key>API_KEY</key>
	<string>AIzaSyCuc6hykOF-NYrLVIIR9s8ENUHdPfHsSQ4</string>
	<key>GCM_SENDER_ID</key>
	<string>435358206627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MoOoRa.ChatChat</string>
	<key>PROJECT_ID</key>
	<string>chatchat-1fc97</string>
	<key>STORAGE_BUCKET</key>
	<string>chatchat-1fc97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435358206627:ios:72e766198b7bee992dcd16</string>
	<key>DATABASE_URL</key>
	<string>https://chatchat-1fc97.firebaseio.com</string>
</dict>
</plist>